version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=leetcode_db
    ports:
      - "5433:5432"
    volumes:
      - ./data/db:/var/lib/postgresql/data

  server:
    build: ./server
    ports:
      - "5001:5001"
    volumes:
      - ./server:/app
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://user:password@db:5432/leetcode_db
      - RUNNER_URL=http://runner:5000/execute
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - db
      - runner

  runner:
    build: ./runner
    ports:
      - "5002:5000"
    volumes:
      - ./runner:/app
    environment:
      - FLASK_ENV=development

  keycloak:
    image: quay.io/keycloak/keycloak:23.0.0
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db:5432/keycloak
      KC_DB_USERNAME: user
      KC_DB_PASSWORD: password
      KC_HOSTNAME_URL: http://localhost:8081
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      # Host port changed to 8081 because 8080 is already in use on this machine
      - "8081:8080"
    depends_on:
      - db

  client:
    build: ./client
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    environment:
      - CHOKIDAR_USEPOLLING=true


